@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
 box-sizing: border-box;
 font-family: 'Big Shoulders Display', cursive;
 font-family: 'Lexend Deca', sans-serif;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color:hsl(57deg 27% 54% / 32%);
    margin-bottom: 100px;
}
.nav {
    display: flex;
	align-items: center;
	justify-content:right;
    margin: auto;
	width: 60%;
	height: 100%;
  }
  
  .nav a {
    float: left;
    display: block;
    color: hsl(0deg 2% 4%);
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav a:hover {
    color: hsl(31, 77%, 52%)
  }
  
  .nav a.active {
    color: hsl(31, 77%, 52%)
  }

  .flexbox-container{
    height:500px;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    width:60%;
    flex-direction: row;
  }
  .car-card {
    margin: 0;
    width: 33.3%;
    height: 500px;
    display: inline-flex;
    flex-direction: column;

  }
  .car-card:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
  }
  .car-card:nth-child(2){
    background-color: hsl(184, 100%, 22%);
  }
  .car-card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0px;
  }

  .car-card .car-heading{
    display: inline-flex;
    height: 30%;
    flex-direction:column ;
  }
  .car-heading img{
    display: inline-flex;
    width: 50px;
    height: 40px;
    margin: 50px auto 20px 40px;
  }
  .car-heading h1{
    display: inline-flex;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 20px auto 20px 40px;
  }
  .car-card .description {
    display: inline-flex;
    height: 50%;
  }
  .car-card .description p{
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    margin: 40px 60px 0 40px;
  }
  .car-card .action-button{
    display: inline-flex;
    height: 20%;
  }
  .car-card:nth-child(1) .action-button button{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsl(31deg 77% 52%);
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    margin: 0 40px;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    text-align: center;
  }
  .car-card:nth-child(2) .action-button button{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsl(184deg 100% 22%);
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    margin: 0 40px;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    text-align: center;
  }
  .car-card:nth-child(3) .action-button button{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsl(179deg 100% 13%);;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    margin: 0 40px;
    width: 50%;
    height: 50%;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    text-align: center;
  }
  .car-card .action-button button:active,.car-card .action-button button:hover{
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    cursor: pointer;

  }
/*Media Queries*/

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }
    .flexbox-container{
        height: auto;
        width: 90%;

      }
      .car-card {
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
      .car-card:nth-child(1),.car-card:nth-child(2),.car-card:nth-child(3){
        border-radius: 10px;
      }

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }
    .flexbox-container{
        height: auto;
        width: 90%;

      }
      .car-card {
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
      .car-card:nth-child(1),.car-card:nth-child(2),.car-card:nth-child(3){
        border-radius: 10px;
      }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }
    .flexbox-container{
        height: auto;
        width: 90%;

      }
      .car-card {
        width: 33%;
        height: 550px;
      }
      .car-card:nth-child(1){
        border-radius: 10px 0 0 10px;
      }
      .car-card:nth-child(2){
        border-radius: 0 0 0 0;
      }
      .car-card:nth-child(3){
        border-radius: 0 10px 10px 0px;
      }
      .car-heading img {
        margin: 40px auto 20px 30px;
    }
    .car-heading h1 {
        margin: 20px auto 20px 30px;
    }
    .car-card .description p {
        margin: 30px 60px 0 30px;
    }
    
.car-card .action-button button {
    width: 100% !important;
    padding: 10px 30px 10px 30px;
}

    
}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    header{    
        width: 100%;
        margin-bottom: 100px;
    }

    .nav {
        width: 60%;
        height: 100%;
        margin: auto;
    }
    .flexbox-container{
        height: 500px;
        width: 60%;

      }
      .car-card {
        width: 33%;
        height: 500px;
      }

      .car-heading img {
        margin: 40px auto 20px 40px;
    }
    .car-heading h1 {
        margin: 20px auto 20px 40px;
    }
    .car-card .description p {
        margin: 30px 60px 0 40px;
    }
    
.car-card .action-button button {
    width: 50% !important;
    padding: 10px 30px 10px 40px;
}
}
  
