@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
 box-sizing: border-box;
 font-family: 'Big Shoulders Display', cursive;
 font-family: 'Lexend Deca', sans-serif;
}
body{
    background-color: #161C26;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color:hsl(0deg 0% 95%);
    margin-bottom: 100px;
}
.nav {
    display: grid;
    grid-template-columns: repeat(2, 100px);
	align-items: center;
	justify-content:right;
    margin: auto;
	width: 60%;
	height: 100%;
  }
  
  .nav a {
    float: left;
    display: block;
    color: hsl(0deg 2% 4%);
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav a:hover {
    color: hsl(31, 77%, 52%)
  }
  
  .nav a.active {
    color: hsl(31, 77%, 52%)
  }
  .grid-container {
    display: grid;
    background-color: #161C26;
    width: 500px;
    height: 350px;
    margin: auto;
    row-gap: 13px;
    column-gap: 10px;
  }
  
  .grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background-color: #EB5020;
  }
  
  .item2 {
    grid-column: 4;
    grid-row: 1 / span 2;
    background-color:#FFA401 ;
  }
  
  .item3 {
    grid-column: 1 / span 2;
    grid-row: 3 /span 2;
    background-color:#05AA42 ;
  }

  .item4 {
    grid-column: 3 / span 2;
    grid-row: 3 /span 1;
    background-color:#01AEFD ;
  }
  .item5 {
    grid-column: 3 / span 2;
    grid-row: 4 /span 1;
    background-color:#01AEFD ;
  }
  /*Media Queries*/

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }


}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }


}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    header{
        margin-bottom: 20px;
    }
    .nav {
        width: 90%;
        height: 100%;
    }


    
}


/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    header{    
        width: 100%;
        margin-bottom: 100px;
    }

    .nav {
        width: 60%;
        height: 100%;
        margin: auto;
    }


}
  
